@charset "UTF-8";

/* Entry formatting */

.entry {
	margin-bottom: 40px;
}

.byline,
.postMetadata {
	color: #999;
	font-size: 0.9em;
}

.byline {
	margin-top: -20px;
}

.postMetadata {
	margin: 20px 0;
	text-align: right;
}

.postMetadata img {
	margin-top: -8px;
}


/* Comment formatting */

.comment,
.commentAlt {
	border-bottom: 1px dotted #ccc;
	padding: 15px 15px 15px 0;
}

.commentBody div {
	padding-left: 55px;
}

.commentBody img {
	clear: left;
	float: left;
	margin: 0 15px 15px 0;
}

.commentByLine {
	color: #999;
	margin-top: 0;
	font-size: 0.9em;
}

.commentByLine strong {
	color: #666;
	font-family: "Trebuchet MS", Verdana, sans-serif;
}


/* Tag cloud */

.smallestTag {
	font-size: 9px;
}

.smallTag {
	font-size: 11px;
}

.mediumTag {
	font-size: 13px;
}

.largeTag {
	font-size: 16px;
}

.largestTag {
	font-size: 20px;
}