/* Base tags */

body {
	background: #ccc;
	color: #151515;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	font-size: 1em;
}

	a {
		color: #B00701;
		font-family: "Trebuchet MS", Verdana, sans-serif;
	}
	
		a:hover {
			background: #B00701;
			color: #fff;
			text-decoration: none;
		}
		
			a.image:hover {
				background: none;
			}
	
	em a {
		font-size: 1.2em;
		font-style: normal;
		font-weight: bold;
	}
	
	img {
		border: 0;
	}
	
	h1, h2, h3, h4, h5, h6,
	form fieldset legend {
		font-family: "Trebuchet MS", Verdana, sans-serif;
	}
	
	h1 {
		margin-top: 0;
	}
	
		h1 span {
			font-weight: normal;
		}
	
	h2 {
		margin: 30px 0 0 0;
	}
	
	h3 {
		margin: 25px 0 0 0;
	}
	
	p {
		line-height: 1.5em;
	}
	
	p.recipe-utility{
		line-height:0;
		font-size: 0.8em;
		color: #666666;
	}
	
	ul li {
		list-style-type: square;
	}
	
	dl dt {
		font-weight: bold;
	}
	
	dl dd {
		margin-bottom: 10px;
	}
	
	abbr {
		speak: spell-out;
	}
	
	code.block {
		border: 1px solid #dedede;
		border-left: 25px solid #dedede;
		display: block;
		overflow: auto;
		padding: 5px;
		padding-left: 25px;
		white-space: pre;
	}
	
	table {
		border: 1px solid #333;
		width: 100%;
	}
	
		table caption {
			font-size: 1.2em;
			text-align: left;
		}
		
		table thead th,
		table tbody th {
			text-align: left;
		}
		
		table thead th {
			border-bottom: 1px solid #ccc;
		}
		
		table tbody tr.highlight {
			background: #efefef;
		}
		
		table tbody tr td {
			padding: 5px;
		}
		
			table tbody tr td.required {
				text-align: center;
			}


/* Base classes */

.clear-it {
	clear: both;
}

.has-local-navigation {
	float: left;
	width: 569px;
}

.success {
	background: #EDFFE9;
	border: 1px solid #030;
	margin-bottom: 10px;
	padding: 5px 7px;
}

	.success p {
		margin: 0;
	}

.error,
.error-message {
	background: #FCC;
	border: 1px solid red;
	padding: 0 20px;
}

	.error-message h2 {
		margin-top: 10px;
	}

.invisible-with-javascript {
	display: none;
}

h2.subhead {
	color: #999;
	margin-top: -20px;
}

ul.inline,
ul.inline li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

	ul.inline li {
		border-left: 1px solid #ccc;
		display: inline;
		padding: 0 5px;
	}

		ul.inline li.first {
			border-left: 0;
			padding-left: 0;
		}

img.bordered {
	border: 1px solid #ccc;
	padding: 3px;
}

/* TinyMCE */
body.mceContentBody {
   background: #fff;
}


/* Tabs
 * root element for tabs  */
ul.tabs {  
	margin:0 !important; 
	padding:0 0 0 10px;
	height:24px;
	border-bottom:1px solid #666;
}
	
	/* single tab */
	ul.tabs li {  
		float:left;	 
		padding:0; 
		margin:0;  
		list-style-type:none;	
	}
	
	/* link inside the tab */
	ul.tabs a { 
		float:left;
		font-size:13px;
		display:block;
		padding:2px 20px;	
		text-decoration:none;
		border:1px solid #666;	
		border-bottom:0px;
		height:18px;
		background-color:#efefef;
		color:#777;
		margin-right:2px;
		-moz-border-radius-topleft: 4px;
		-moz-border-radius-topright:4px;
		position:relative;
		top:1px;	
	}
	
	ul.tabs a:hover {
		color:#333;
	}
		
		/* selected tab */
		ul.tabs a.current {
			background-color:#fff;
			border-bottom:2px solid #fff;	
			color:#333;	
			cursor:default;
		}
	
/* tab pane */
div.panes {
	clear: left;
}

	div.panes div {
		display:none;
		border-top:1px solid #666;
		border-width:0 1px 1px 1px;
		min-height:200px;
		padding:5px 20px;
		background-color:#fff;	
	}
	
	div.panes div div {
		display: block;
		border: none;
		padding: 0;
	}

/* For showing heading then value followed in a <p> */
.heading-value h2,
.heading-value h3 {
	margin-bottom: 0;
}

.heading-value p {
	margin: 0;
}

/* Escapes from this formatting if we need multiple <p>'s */
.heading-value .escape p {
	margin: 15px 0;
}

.video {
	margin-top: 20px;
}

/* Icons for calls to action */
ul.calls-to-action,
ul.calls-to-action li,
dl.calls-to-action,
dl.calls-to-action dt {
	list-style: none;
	margin: 0;
	padding: 0;
}

	ul.calls-to-action li a,
	dl.calls-to-action dt a {
		display: inline-block;
		padding: 2px 2px 2px 20px;
	}
	
	ul.calls-to-action li.blog a {
		background: url(../images/blog-icon-14x14.png) no-repeat 0 50%;
	}
	
	ul.calls-to-action li.cf-community a {
		background: url(../images/cf-community-icon-14x14.jpg) no-repeat 0 50%;
	}
	
	ul.calls-to-action li.delicious a {
		background: url(../images/delicious-icon-14x14.png) no-repeat 0 50%;
	}
	
	ul.calls-to-action li.facebook a {
		background: url(../images/facebook-icon-14x14.gif) no-repeat 0 50%;
	}
	
	ul.calls-to-action li.feed a,
	dl.calls-to-action dt.feed a {
		background: url(../images/feed-icon-14x14.png) no-repeat 0 50%;
	}
	
	ul.calls-to-action li.linkedin a {
		background: url(../images/linkedin-icon-14x14.jpg) no-repeat 0 50%;
	}
	
	ul.calls-to-action li.movie a {
		background: url(../images/movie-icon-16x16.gif) no-repeat 0 50%;
	}
	
	ul.calls-to-action li.pdf a {
		background: url(../images/pdf-icon-16x16.jpg) no-repeat 0 50%;
	}
	
	ul.calls-to-action li.podcast a,
	dl.calls-to-action dt.podcast a {
		background: url(../images/podcast-icon-16x16.png) no-repeat 0 50%;
	}
	
	ul.calls-to-action li.twitter a {
		background: url(../images/twitter-icon-14x14.png) no-repeat 0 50%;
	}
	
	ul.calls-to-action li.vimeo a {
		background: url(../images/vimeo-icon-16x16.png) no-repeat 0 50%;
	}
	
	ul.calls-to-action li.working-with-cfml a {
		background: url(../images/working-with-cfml-icon-14x14.gif) no-repeat 0 50%;
	}
	
	ul.calls-to-action li.youtube a {
		background: url(../images/youtube-icon-16x16.png) no-repeat 0 50%;
	}
	
	ul.calls-to-action li a:hover,
	dl.calls-to-action dt a:hover {
		background-color: #B00701;
	}

/* Pagination */
.page-listing .current-page {
	font-weight: bold;
}

.page-listing a {
	display: inline-block;
	padding: 2px;
}


/* Forms */

#content strong.required {
	color: #B00701;
}

#content form fieldset {
	margin-top: 2em;
}

	#content form fieldset legend {
		color: #151515;
		font-size: 1.2em;
		font-weight: bold;
	}
	
#content form div {
	clear: left;
	padding: 0.6em;
}

	#content form div label {
		display: block;
		padding-bottom: 3px;
	}
	
		#content form div label em {
			color: #676767;
		}
		
		#content form div label em a {
			color: #676767;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 15px;
			font-style: italic;
			font-weight: normal;
		}
		
			#content form div label em a:hover {
				background: #676767;
				color: #fff;
			}
	
	#content form div.radio label,
	#content form div.check label {
		display: inline;
	}

	#content form div input {
		font-size: 17px;
	}

		#content form div input[type=text],
		#content form div input[type=password],
		#content form div input[type=file] {
			width: 50%;
		}
		
		#content form div input.small-number {
			width: 100px;
		}

	#content form div textarea {
		font-family: Arial, Helvetica, sans-serif;
		height: 10em;
		width: 70%;	
	}

	#content form .field-with-errors label,
	#content form .field-with-errors label strong.required {
		color: red;
		font-weight: bold;
	}
	
	#content form .field-with-errors input,
	#content form .field-with-errors textarea {
		border: 1px dashed red !important;
		padding: 3px;
	}

#content form .error p,
#content form .field-with-errors {
	padding: 0;
}

#content form table#recaptcha_table {
	width: 480px;
}


/* Layout */

#wrapper {
	margin: 17px auto 0 auto;
	width: 994px;
}

	#contentWrapper {
		background: #fff url(../images/content-background.jpg) repeat-y;
		clear: both;
		overflow: hidden;
	}
	
		#content {
			overflow: hidden;
			padding: 25px 62px;
		}
		
			#introduction {
				color: #777;
				font-size: 1.3em;
			}
			
				#introduction a {
					color: #444;
				}
				
					#introduction a:hover {
						background: #444;
						color: #fff;
					}


/* Header */

#header {
	background: #333 url(../images/header-background.jpg) no-repeat;
	height: 121px;
	overflow: hidden;
	padding: 0 17px;
}

	#header a {
		color: #fff;
	}
	
		#header a:hover {
			background: #fff;
			color: #333;
		}

	#logo {
		float: left;
		margin-bottom: -5px;
	}
	
	#tagline {
		color: #fff;
		float: left;
		margin: 0 0 24px 20px;
		padding-top: 35px;
		width: 275px;
	}
	
		#tagline abbr {
			border: 0;
		}
	
	#utility {
		color: #dedede;
		float: right;
		font-size: 13px;
		padding: 10px 10px 0 0;
		text-align: right;
		width: 450px;
	}
	
	#global-navigation {
		float: right;
		font-size: 13px;
		font-weight: bold;
		margin: 26px 0 0 0;
	}
	
		#global-navigation ul,
		#global-navigation ul li {
			display: inline;
			margin: 0;
			padding: 0;
		}
		
			#global-navigation ul li {
				padding: 0 30px 0 0;
			}


/* Site search */

#site-search,
#site-search form,
#site-search form div {
	display: inline;
	margin: 0;
	padding: 0;
}

	#site-search form div input[type=text] {
		background: url(../images/search-box.png) no-repeat;
		border: 0;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		height: 18px;
		padding: 4px 10px 0 23px;
		width: 144px;
	}
	
	#search-query.init {
		color: #999;
	}
	
	#site-search form div input[type=submit] {
		display: none;
	}


/* Breadcrumbs */

#breadcrumbs {
	font-size: 13px;
	float: left;
	margin: 0 0 0 20px;
	width: 820px;
}

	#breadcrumbs abbr {
		border: 0;
	}

	#breadcrumbs a {
		color: #333;
	}
	
		#breadcrumbs a:hover {
			background: #333;
			color: #fff;
		}
	
	/* Feeds */
	#feeds {
		float: right;
	}
	
		#feeds a {
			background: url(../images/feed-icon-14x14.png) no-repeat 0 50%;
			color: #dc4c00;
			display: inline-block;
			padding: 0 2px 0 20px;
		}
		
			#feeds a:hover {
				background: #fc4c00 url(../images/feed-icon-14x14.png) no-repeat 0 50%;
			}


/* Local navigation */

#docs-local-navigation,
#local-navigation {
	background: #fefefe;
	float: right;
	margin-left: 30px;
	width: 30%;
}

#local-navigation {
	font-size: 0.8em;
}

	#local-navigation h2 a {
		color: #333;
		text-decoration: none;
	}
	
		#local-navigation h2 a:hover {
			background: #333;
			color: #fff;
		}

	#local-navigation h3 {
		border-bottom: 1px dotted #ccc;
		margin: 25px 0 5px 0;
	}
	
	#local-navigation h4 {
		margin-bottom: 0;
	}
	
	#local-navigation p {
		margin-top: 0;
	}
	
		#local-navigation p.file-size {
			margin-top: -10px;
			text-align: center;
		}
	
	#local-navigation a.action {
		background: #B00701;
		color: #fff;
		display: block;
		font-size: 20px;
		margin-top: 30px;
		padding: 10px 0;
		text-align: center;
		text-decoration: none;
		-moz-border-radius: 4px;
	}
	
		#local-navigation a.action:hover {
			background: #f46e65;
		}
	
	#local-navigation ul,
	#local-navigation ul li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
		#local-navigation ul li {
			padding: 2px 0;
		}


/* Content */

.screenshot {
	font-size: 0.9em;
	font-style: italic;
	text-align: center;
}

.screenshot img {
	border: 1px solid #ccc;
	padding: 5px;
}

.highlighter {
	background: #FFC;
	font-style: normal;
}


/* Docs section */

#docs h2 a {
		color: #333;
		text-decoration: none;
	}
	
	#docs h2 a:hover {
		background: #333;
		color: #fff;
	}

#docs #chapters {
	float: left;
	width: 50%;
}

#docs #api {
	float: right;
	width: 45%;
}

/* Function documentation page */
body#functionDoc h2 {
	font-size: 1.2em;
}

body#functionDoc h3 {
	font-size: 0.9em;
}

body#functionDoc table {
	margin-top: 1em;
}

body#functionDoc code {
	margin-top: 1em;
}

/* Previous/next labels */
.previous-next {
	overflow: hidden;
	padding: 20px 0;
}

	.previous-next a {
		font-size: 19px;
		font-weight: bold;
	}

	.previous-next .previous {
		float: left;
	}
	
	.previous-next .top {
		float: left;
		text-align: center;
		width: 20%;
	}
	
	.previous-next .next {
		float: right;
		text-align: right;
	}
	
	.previous-next .previous,
	.previous-next .next {
		width: 40%;
	}

/* Comments */
#comments {
	border-top: 1px solid #999;
	clear: both;
}


/* User account screen */

#user-account .inline {
	padding-top: 10px;
}

#user-account ul#submitted-sites li span.approved,
#user-account ul#submitted-sites li span.pending {
	display: inline-block;
	font-size: 11px;
	padding: 2px;
	margin-left: 5px;
}

#user-account ul#submitted-sites li span.approved {
	background: #CAFDCC;
	color: #030;
}

#user-account ul#submitted-sites li span.pending {
	background: #eee;
}


/* Sites, Screencasts, and Plugins sections */

#screencasts-listing dl dt {
	clear: left;
}

	#screencasts-listing dl dt img {
		border: 1px solid #999;
		float: left;
		margin: 0 20px 20px 0;
		padding: 3px;
	}

#sites-listing dl dd,
#plugins-listing dl dd,
#screencasts-listing dl dd {
	margin-left: 0;
	padding: 0 0 20px 0;
}

	#sites-listing dl dd p,
	#plugins-listing dl dd p,
	#screencasts-listing dl dd p {
		font-size: 14px;
		line-height: 16px;
		margin: 5px 0;
	}
	
		#sites-listing dl dd ul li,
		#plugins-listing dl dd ul li,
		#screencasts-listing dl dd ul li {
			font-size: 13px;
		}

fieldset div.versions {
	height: 300px;
	margin: 0;
	padding: 0;
	overflow: auto;
}

	fieldset div.versions p {
		padding-left: 10px;
	}

/* Plugin change log */
#plugin-change-log h3 small {
	font-weight: normal;
}


/* Screencasts section */

#screencast-stats {
	float: left;
	width: 45%;
}

	#screencast-stats dl dt {
		font-size: 13px;
	}
	
	#screencast-stats dl dd {
		margin-left: 0;
		padding-left: 0;
	}

#screencast-next-steps {
	float: right;
	width: 45%
}


/* Community section */

#community-contribute-opportunities h3 a,
#community-who h3 a {
	color: #333;
	text-decoration: none;
}

	#community-contribute-opportunities h3 a:hover,
	#community-who h3 a:hover {
		background: #333;
		color: #fff;
	}

/* Contribute */
#community-contribute-opportunities {
	background-image: url(../images/contribute-backer.jpg);
	background-repeat: no-repeat;
	overflow: hidden;
	margin: 10px 0;
	padding: 20px;
}

	#community-contribute-opportunities div {
		float: left;
		margin-left: 15px;
		width: 31%;
	}
	
		#community-contribute-opportunities div.first {
			margin-left: 0;
		}
		
		#community-contribute-opportunities div h3 {
			margin-top: 0;
		}
		
		#community-contribute-opportunities div p {
			font-size: 13px;
		}
		
		#community-contribute-opportunities div ul,
		#community-contribute-opportunities div ul li {
			list-style: none;
			margin: 0;
			padding: 0;
		}

/* Who's who */
#community-who {
	border-top: 1px solid #ccc;
	clear: both;
}

	#community-who div {
		float: left;
		margin-left: 30px;
		width: 30%;
	}
	
		#community-who div.first {
			margin-left: 0;
		}
		
		#community-who div h4 {
			margin-bottom: 0;
		}
		
		#community-who p {
			font-size: 13px;
		}
		
			#community-who p.more {
				font-size: 16px;
			}
		
		#community-who ul,
		#community-who dl {
			margin-top: 0;
		}
		
			#community-who dl dt {
				font-weight: normal;
			}
			
			#community-who dl dd {
				font-size: 13px;
				margin-left: 0;
				padding-left: 0;
			}

/* Blog posts and articles */
#community-on-the-web {
	border-top: 1px solid #ccc;
	clear: both;
	overflow: hidden;
}

	#community-on-the-web h3 {
		margin-top: 0;
	}

	#community-on-the-web h4 {
		margin-bottom: 0;
	}
	
	#community-on-the-web .date {
		color: #676767;
		font-size: 12px;
		font-weight: normal;
	}
	
	#community-on-the-web p {
		font-size: 13px;
	}
	
	#community-on-the-web p.description {
		font-size: 16px;
	}
	
	#community-on-the-web dl dd {
		font-size: 13px;
		margin-left: 0;
		padding-left: 0;
	}
	
	#community-on-the-web #community-blog-posts {
		float: left;
		width: 45%;
	}
	
		#community-on-the-web #community-blog-posts .author,
		#community-on-the-web #community-blog-posts .author a {
			color: #676767;
			font-size: 12px;
			font-weight: normal;
		}
		
			#community-on-the-web #community-blog-posts .author a:hover {
				background: #676767;
				color: #fff;
			}
	
	#community-on-the-web #community-articles {
		float: right;
		width: 45%
	}

/* Core and Evangelism Teams */
#community-team h2 {
	clear: left;
	padding-top: 20px;
}

#community-team dl dt {
	clear: left;
	font-size: 19px;
}

	#community-team dl dt img {
		float: left;
		margin: 0 20px 15px 0;
	}

#community-team dl dd {
	margin-left: 110px;
}


/* People directory */

#people dl {
	padding-top: 10px;
}

	#people dl dt {
		clear: left;
	}
	
		#people dl dt img {
			float: left;
			margin: 0 10px 10px 0;
		}
	
	#people dl dd {
		border-bottom: 1px solid #eee;
		font-size: 13px;
		margin: 0 0 20px 50px;
		padding: 0 0 20px 0;
	}


/* Events */

table.events tbody tr td {
	border-bottom: 1px solid #ccc;
}

	table.events tbody tr td h3 {
		margin-top: 0;
	}
	
	table.events tbody tr td.date {
		width: 65px;
	}

	table.events .calendar-date {
		border: 1px solid #999;
		font-weight: bold;
		text-align: center;
		-moz-border-radius: 4px;
	}
	
		table.events .calendar-date .month {
			background: #b00701;
			color: #fff;
			font-size: 13px;
			padding: 3px 0;
			text-transform: uppercase;
		}
		
		table.events .calendar-date .day {
			font-size: 25px;
			padding: 7px 0;
		}


/* Google CSE results page */

/* Google CSE */

.gsc-control-cse {
	font-family: Arial, sans-serif;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}
input.gsc-input {
	border-color: #BCCDF0;
}
input.gsc-search-button {
	border-color: #666666;
	background-color: #CECECE;
}
.gsc-tabHeader.gsc-tabhInactive {
	border-color: #E9E9E9;
	background-color: #E9E9E9;
}
.gsc-tabHeader.gsc-tabhActive {
	border-top-color: #FF9900;
	border-left-color: #E9E9E9;
	border-right-color: #E9E9E9;
	background-color: #FFFFFF;
}
.gsc-tabsArea {
	border-color: #E9E9E9;
}
.gsc-webResult.gsc-result {
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}
.gsc-webResult.gsc-result:hover {
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}
.gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link b {
	color: #b00701;
}
.gs-webResult.gs-result a.gs-title:visited,
.gs-webResult.gs-result a.gs-title:visited b {
	color: #b00701;
}
.gs-webResult.gs-result a.gs-title:hover,
.gs-webResult.gs-result a.gs-title:hover b {
	color: #b00701;
}
.gs-webResult.gs-result a.gs-title:active,
.gs-webResult.gs-result a.gs-title:active b {
	color: #b00701;
}
.gsc-cursor-page {
	color: #b00701;
}
a.gsc-trailing-more-results:link {
	color: #b00701;
}
.gs-webResult.gs-result .gs-snippet {
	color: #333333;
}
.gs-webResult.gs-result .gs-visibleUrl {
	color: #008000;
}
.gs-webResult.gs-result .gs-visibleUrl-short {
	color: #008000;
}
.gsc-cursor-box {
	border-color: #FFFFFF;
}
.gsc-results .gsc-cursor-page {
	border-color: #E9E9E9;
	background-color: #FFFFFF;
}
.gsc-results .gsc-cursor-page.gsc-cursor-current-page {
	border-color: #FF9900;
	background-color: #FFFFFF;
}
.gs-promotion.gs-result {
	border-color: #336699;
	background-color: #FFFFFF;
}
.gs-promotion.gs-result a.gs-title:link {
	color: #0000CC;
}
.gs-promotion.gs-result a.gs-title:visited {
	color: #0000CC;
}
.gs-promotion.gs-result a.gs-title:hover {
	color: #0000CC;
}
.gs-promotion.gs-result a.gs-title:active {
	color: #0000CC;
}
.gs-promotion.gs-result .gs-snippet {
	color: #000000;
}
.gs-promotion.gs-result .gs-visibleUrl,
.gs-promotion.gs-result .gs-visibleUrl-short {
	color: #008000;
}


/* Footer */

#footer {
	background: #333 url(../images/footer-background.jpg) no-repeat;
	clear: both;
	color: #fff;
	font-size: 0.8em;
	height: 130px;
	margin: 0 auto;
	padding-top: 20px;
	width: 994px;
}

	#footer p {
		margin: 0;
	}
	
	#footer a {
		color: #fff;
	}
	
	#footer a:hover {
		background: #fff;
		color: #151515;
	}
	
	.copyright {
		float: left;
		padding-left: 50px;
	}
	
	#footer #hosting {
		float: right;
		padding-right: 50px;
		text-align: right;
	}
	
		#footer #hosting img {
			margin-bottom: -3px;
		}