@charset "UTF-8";

/* BASE */
html, body {height: 100%;}
.container {min-height: 100%;}
.content{overflow:auto; padding-bottom: 208px;}  /* must be same height as the footer */ 

/*Opera Fix*/
body:before{
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

body{
	font: 13px Verdana, Geneva, sans-serif;
	background: #fff;
	margin: 0;
	padding: 0;
	color: #333;
	font-size:13px;
	background:url(../images/headerbg.jpg) top left repeat-x;
}

a, a:link, a:visited{
	color: #333;
}

a:hover{
	text-decoration: none;
}

div{
	display:block;
}
	
h1{
	color: #263359;
	font: 31px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding: 0 0 18px 0;
}
	
	h1.withcredits{
		padding:0;
	}

h2{
	margin:0;
	padding:0 0 7px 0;
	color:#263359;
	font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
}

h3{
	margin:0;
	padding:0 0 10px 0;
	color: #666;
	font-weight:bold;
	font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

p{
	line-height:150%;
	margin:0;
	padding:0 0 10px 0;
}

	.credits{
		display:block;
		margin:6px 0 15px 0;
		padding:0;
		font-size:11px;
		color:#666;
	}

table{
	width:100%;
}

	table th{
		padding-left: 10px;
		margin:0;
		text-align:left;
		vertical-align:middle;
		font-weight:bold;
		height:31px;
		background:url(../images/tablethbg.png) 0 0 repeat-x;
	}
	
	table tr td{
		min-height:31px !important;
		padding:1px 1px 1px 10px;
		border-bottom:2px solid #F5F5F5;
	}
	
ul{}

	ul li{
		margin: 0;
		padding: 2px;
	}

/* FORM ELEMENTS */
label{
	font-size:16px;
	font-weight:bold;
	display:block;
	padding: 10px 0 10px 0;
}

input[type="text"], input[type="password"], input[type="file"]{
	width: 60%;
	font-size:17px;
	height:20px;
}

input[type="submit"]{
	margin: 15px 0 15px 0;
}

textarea{
	width:80%;
	height:10em;
	font-size:17px;
}

/* CUSTOM GOODIES */
.wrapper{
	width:994px;
	min-height:100%;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}

	.header{
		height: 151px;
		margin-bottom: 14px;
		overflow:hidden;
		color:#fff;
	}
	
		.logo{
			width: 345px;
			height: 151px;
			display:block;
			float:left;
			text-indent:-9999px;
			background:url(../images/logo.jpg) top left no-repeat;
		}
		
		ul.utilities{
			float:right;
			display:block;
			padding: 14px 0 0 0;
		}
			
			ul.utilities li{
				float:left;
				padding: 0 5px 0 5px;
			}
			
				ul.utilities li.withborder{
					border-right:1px solid #fff;
				}
				
				ul.utilities li a{
					color: #fff;
				}
		
		ul.navigation{
			float:right;
			display:block;
			width:600px;
			padding: 55px 0 0 0;
			margin:0;
			font: 17px Verdana, Geneva, sans-serif;
		}
		
			ul.navigation li{
				float:left;
				display:block;
				padding:0;
				margin:0 0 0 38px;
			}
			
				ul.navigation li a{
					color:#fff;
					display:block;
					padding: 10px 0 10px 0;
					text-align:right;
					text-decoration:none;
				}
		
	.content{
		margin:0;
		padding: 0 0 208px 21px;
		overflow:auto;
	}
	
		.left{
			float:left;
			width:654px;
			padding:0 42px 0 0;
			margin:0;
		}
		
			.left .content{
				padding:0 0 40px 0;
				margin:0;
			}
			
				.left .content ul.taglist{}
				
					.left .content ul.taglist li{
						float:left;
						display:block;
						padding: 0 5px 15px 0;
					}
					
				.left .content ul.userlist{}
				
					.left .content ul.userlist li{
						height: 70px;
						display:block;
						margin: 0 5px 15px 0;
						border-bottom: 1px solid #666;
					}
					
						.left .content ul.userlist li img{
							float:left;
							display:block;
							padding: 0 15px 0 0;
						}
				
				.left .content ul.recipelist{}
				
					.left .content ul.recipelist li{
						display:block;
						background: url(../images/icon_recipecard.png) top left no-repeat;
						padding: 0 0 10px 57px;
					}
					
						.left .content ul.recipelist li a.title{
							font:25px "Trebuchet MS", Arial, Helvetica, sans-serif;
							padding:0;
							margin:0;
							border-bottom:2px solid black;
							text-decoration:none;
						}
						
						.left .content ul.recipelist li a.title:hover{
							border-bottom:2px solid white;
						}
						
						.left .content ul.recipelist li p{
							color: #545454;
						}
						
						.left .content ul.recipelist li p.credits{
							margin:6px 0 0 0;
							padding:0;
							font-size:11px;
							color:#666;
						}

			.left .comments{
				padding: 15px 0 15px 0;
			}

		.right{
			width:265px;
			float:right;
			padding: 0 0 0 10px;
		}
	
.footer{
	margin-top:-208px;
	height:208px;
	padding:0 21px 0 21px;
	background: #263359 url(../images/footerbg.jpg) top left repeat-x;
	position: relative;
	clear: both;
	color:#fff;
}

	.footer .block{
		float:left;
		display:block;
		width:270px;
		padding: 25px 50px 0 0;
	}
	
		.footer .block h3{
			color:#fff;
			font:16px "Trebuchet MS", Arial, Helvetica, sans-serif;
			border-bottom:1px solid #354A8A;
			padding-bottom: 7px;
			margin-bottom: 16px;
		}
		
		.footer .block a{
			color: #fff;
		}

/* MISC */
code{
	display:block;
	background-color: #efefef;
	border: 1px solid #333;
	padding: 15px;
	color:#000;
	font: 13px "Courier New", Courier, monospace;
}

.submitrecipe{
	background:url(../images/submitrecipebutton.png) top left no-repeat;
	display:block;
	text-indent:-9999px;
	height:46px;
	padding: 0 0 25px 0;
	margin:0 auto;
}

.cfwheels{
	display:block;
	width:93px;
	height:121px;
	float:left;
	margin: 0 15px 0 0;
	text-indent:-9999px;
	background: url(../images/cfwheels.png) top left no-repeat;
}

.icon{
	height:16px;
	display:block;
	padding: 0 0 8px 23px;
}

	.twitter{
		background: url(../images/icon_twitter.png) top left no-repeat;
	}
	
	.rss{
		background: url(../images/icon_rss.png) top left no-repeat;
	}
	
.tweetthis{
	margin: 20px 0 0 0;
	padding: 5px 0 0 0;
}

.twitterconnect{
	margin: 20px 0 20px 0;
}
	
/** General Classes **/
.field-with-errors input, .field-with-errors textarea, .field-with-errors select{
	border:1px solid #B10803;
}

.error{
	color: #333;
	background-color: #efefef;
	border: 1px solid #999;
	padding: 10px;
	list-style: none;
	line-height: 150%;
	margin: 5px 0 20px 0;
}

.required{
	color: #ff0000;
	font-size:11px;
}

.paddles{
	clear:both;
}