@charset "UTF-8";

/* Home page */

h2 {
	font-size: 21px;
}

	h2 a {
		color: #151515;
		text-decoration: none;
	}

		h2 a:hover {
			background: #151515;
			color: #fff;
		}

h3 {
	font-size: 17px;
}

#home-promo {
	background-image: url(images/promo_backer.jpg);
	background-repeat: no-repeat;
	float: left;
	padding: 20px 30px;
	width: 512px;
}

	#home-promo h1 {
		float: left;
		font-size: 1.7em;
		margin-bottom: 10px;
	}

	#home-promo ul,
	#home-promo ul li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	#home-promo ul {
		padding-top: 10px;
	}

		#home-promo ul li {
			font-size: 1.3em;
			height: 1.8em;
			padding-left: 30px;
		}

			#home-promo ul li img {
				margin-bottom: -3px;
				margin-right: 5px;
			}

.promolet {
	background-image: url(images/promolet_backer.jpg);
	background-repeat: no-repeat;
	float: right;
	font-size: 0.9em;
	width: 263px;
}

	.promolet h2,
	.promolet p {
		margin-left: 15px;
	}

	.promolet h2 {
		font-size: 1.2em;
		margin-top: 15px;
	}

	.promolet ul {
		margin: 0 auto;
		padding: 0 40px;
	}

	.promolet ul li,
	.promolet p {
		font-size: 0.9em;
		line-height: 1.5em;
	}

	.promolet img {
		float: right;
		margin-left: 8px;
	}
	
		.promolet img.feed {
			float: none;
			margin: 0;
		}
	
	.promolet .action {
		font-size: 1.1em;
	}
	
	.promolet ul.blog,
	.promolet ul.blog li {
		list-style: none;
		margin: 0;
		padding: 0 15px;
	}
	
		.promolet ul.blog li {
			padding: 3px 15px;
		}


/* Second tier */
#home-second-tier {
	border-top: 1px solid #ccc;
	clear: both;
	overflow: hidden;
}

	#home-second-tier h3 {
		margin: 8px 0 0 0;
	}
	
	#home-second-tier img {
		border: 1px solid #999;
		padding: 3px;
	}

	#home-second-tier .action {
		font-weight: bold;
		text-align: right;
	}

	#home-screencasts {
		float: left;
		width: 48%;
	}
	
		.home-screencast {
			float: left;
			margin-right: 5%;
			width: 45%;
		}
		
			.home-screencast h3 {
				font-size: 15px;
				font-weight: normal;
			}
	
			.home-screencast p {
				font-size: 13px;
			}
	
	#home-featured-site {
		float: right;
		width: 48%;
	}
	
		#home-featured-site p.description {
			font-size: 13px;
		}


/* Articles */
#home-articles {
	border-top: 1px solid #ccc;
	clear: both;
}