<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Cooking Wheels</title>
		<link href="stylesheets/reset.css" rel="stylesheet" type="text/css" />
		<link href="stylesheets/cooking.css" rel="stylesheet" type="text/css" />
		<!--[if !IE 7]>
			<style type="text/css">
				.wrapper{display:table;height:100%}
			</style>
		<![endif]-->
	</head>
	<body>
		<div class="wrapper">
			<div class="header">
				<a class="logo" href="/">Cooking Wheels</a>
				<ul class="utilities">
					<li class="withborder">Welcome, <a href="#">guest</a>!</li>
					<li class="withborder"><a href="#">Sign up</a></li>
					<li><a href="#">Sign in</a></li>
				</ul>
				<ul class="navigation">
					<li><a href="#">Home</a></li>
					<li><a href="#">Recipes</a></li>
					<li><a href="#">Tags</a></li>
					<li><a href="#">Users</a></li>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</div>
			<div class="content">
				<div class="left">
					<div class="content">
						<h1>Latest CFWheels Recipes</h1>
						<ul class="recipelist">
							<li>
								<a href="#" class="title">Sending emails from Google</a>
								<p class="credits">August 16, 2010 by Raul A. Riera</p>
								<p>You have a Google Apps account and wish to send emails using their SMTP servers.</p>
							</li>
							<li>
								<a href="#" class="title">Preventing users from using free email services in your applications</a>
								<p class="credits">August 16, 2010 by Raul A. Riera</p>
								<p>You have a Google Apps account and wish to send emails using their SMTP servers.</p>
							</li>
							<li>
								<a href="#" class="title">Sending emails from Google</a>
								<p class="credits">August 16, 2010 by Raul A. Riera</p>
								<p>You have a Google Apps account and wish to send emails using their SMTP servers.</p>
							</li>
							<li>
								<a href="#" class="title">Sending emails from Google</a>
								<p class="credits">August 16, 2010 by Raul A. Riera</p>
								<p>You have a Google Apps account and wish to send emails using their SMTP servers.</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="right">
					<a href="#" class="submitrecipe">Submit Recipe</a>
					<h2>Last 5 Recipes</h2>
					<ul>
						<li><a href="#">test</a></li>
						<li><a href="#">email</a></li>
						<li><a href="#">gmail</a></li>
						<li><a href="#">google</a></li>
						<li><a href="#">email</a></li>
						<li><a href="#">model</a></li>
					</ul>
				</div>
				<div class="paddles"></div>
			</div>
		</div>
		<div class="footer">
			<div class="wrapper">
				<div class="block">
					<h3>Subscribe and Connect</h3>
					<ul>
						<li class="icon twitter"><a href="#">Twitter</a></li>
						<li class="icon rss"><a href="#">RSS Feed</a></li>
					</ul>
				</div>
				<div class="block">
					<h3>Credits</h3>
					<ul>
						<li>Created by <a href="#">John C. Bland II</a></li>
						<li>Designed by <a href="#">Chris Peters</a></li>
						<li>Inspired by <a href="#">ColdFusion Cookbook</a></li>
					</ul>
				</div>
				<div class="block">
					<h3>Powered by...</h3>
					<a href="#" class="cfwheels">ColdFusion on Wheels</a>
					<p>Built with <br /><a href="#">ColdFusion on Wheels</a>.</p>
					<p><a href="#">Download the<br />source code</a> at GitHub.</p>
				</div>
			</div>
		</div>
	</body>
</html>