Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_URI} !^.*/(favicon.ico|images|lib|javascripts|stylesheets|flex2gateway|jrunscripts|cfide|cfformgateway|cffileservlet|railo-context|files|misc|robots.txt|sitemap.xml|rewrite.cfm)($|/.*$) [NC]
RewriteRule ^(.*)$ ./rewrite.cfm/$1 [NS,L]